# ViM files
_backup
_temp
.netrwhist

after
autoload
doc
plugin
ruby
snippets
syntax
syntax_checkers
ftdetect
ftplugin
colors
indent
.VimballRecord
janus
# Vimius file
.vimius

# Plugins without git-mirror
watchtower.vim
mustache.vim

# pathogen / vundle packages
bundle
